<%- include('partials/header') %>

<div class="jumbotron centered background">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Authentication</h1>
    <p class="lead">“Passwords are like underwear: don’t let people see it, change it very often, and you shouldn’t share it with strangers.”   <br>  Chris Pirillo</p>
    <hr />
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
  </div>
</div>

<%- include('partials/footer') %>
